@model Category
@using AspNetCoreHero.ToastNotification.Abstractions;
@inject INotyfService _notyfService;
@{
    ViewBag.Title = "Category";

}

@if (TempData["Success"] != null)
{
  
    _notyfService.Success("Your data save sucessfully");
}
    <head>
    <style>
        .container{
           
            margin-right: 510px;
            
        }
        .btn-success {
            background-color: #59ab6e !important;
            border-color: #56ae6c !important;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        body {
            background-color: #FFEBEE
        }

        #tblData_paginate
        {
            color:green;

        }

       /* #tblData_previous
        {
            background-color:green;
            color:black;
        }*/
       
        #CardData{
            width: 1400px;
            background-color:white;
            box-shadow: 3px 3px 3px lightgreen;
        }
        .card {
            width: 400px;
            background-color: #fff;
            border: none;
             box-shadow: 3px 3px 3px lightgreen;
           
        }
        .form-control {
            margin-top: 10px;
            height: 40px;
            border: 2px solid #eee;
            border-radius: 10px
        }
        .agree-text {
            font-size: 12px
        }

        .terms {
            font-size: 12px;
            text-decoration: none;
            
        }

        .confirm-button {
            margin-top:40px;
            height: 50px;
            border-radius: 10px;
            width:150px;
        }

        .custom-control-input:checked {
            background-color: red;
            border-color: red;
        }

        input[type="checkbox"] :checked {
                        background-color: green;

        }
        #Paging  a{
            color:green;
            border-color:green;
        }

        #Paging > li.active > a {
            background: green;
            color:black;
            
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
           /* width: 1.375rem;*/
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        #tblData
        {
            text-align:center;
        }

            #tblData th {
            text-align:center;
                color: gray;
        }

            #tblData tr{
                color:gray;
            }

                
        label
        {
            color:gray;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button
        {
            color: black !important;
            border: 1px solid lightgreen !important;
            background-color: white !important;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                color: white !important;
                
                background-color: green !important;
        }

    </style>
</head>

<div class="container">
<div class="row">
        <div class="col-lg-5 col-xlg-3 col-md-12">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4">
                    <div class="card-body">
                        
                   <h3>Category</h3>
                        <form asp-controller="Category" asp-action="GetAllCategories" method="post" autocomplete="off" enctype="multipart/form-data">
                            <div class="form-group">

                                <input name="Id" class="form-control" id="txtid" type="hidden" />

                            </div>
                            
                    <div class="form-group ">
                        <label class="control-label " for="name">
                           Categoty Name
                        </label>
                        <input class="form-control" id="txtName" asp-for="Name" type="text" />
                    </div>
                      <div class="form-group mt-9">
                                <label asp-for="ImageFile" class="control-label"></label>
                                <input asp-for="ImageFile" class="form-control" id="catimage" accept="image/*"  />
                                <br/>
                                <div id="txtimg"></div>
                      </div>
                    <div class="form-group mt-4">
                        
                        <div >
                            <div class="custom-control custom-checkbox custom-control-inline">

                                        <input type="checkbox" asp-for="IsActive" id="txtcheckbox"> IsActive

                                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="Col-md-4 ">
                                    <button class="btn btn-success btn-block confirm-button" id="btnAdd">Add</button> &nbsp; &nbsp;&nbsp; &nbsp;<button class="btn btn-success btn-block confirm-button" onclick="clear()">Clear</button>
                                    <button class="btn btn-success btn-block confirm-button" id="btnUpdate" onclick="update()">Update</button>
                        </div>
                     

                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-7 col-xlg-9 col-md-12">
            
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-1 py-4" id="CardData">
                    <div class="card-body">
                        <div class="col mb-2">
                            <h3>
                            Category List
                            </h3>
                        </div>
             
                        <div class="table-responsive">
                            <table class="table text-nowrap"
   align="center" id="tblData">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                   
                                    <th>Active</th>
                                    @*<th>CreatedOn</th>*@
                                        <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="tblData">
                            </tbody>
                        </table>
                        </div>
                       <br/>
                        
                    </div>
                </div>
        
                </div>
    </div>
</div>
</div>



@section scriptsjs
 {


     <script type="text/javascript">
        
        $(document).ready(function () {

            BindCategoryData();
            $('#btnUpdate').hide();

        
      
        });
        
         function BindCategoryData() 
             {
            debugger;
            $.ajax({
                type: "Post",
                url: "/Admin/Category/AjaxMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                  $("#tblData").DataTable(
                        {
                            bLengthChange: false,
                            
                            bFilter: true,
                            bSort: true,
                            bPaginate: true,
                            bInfo: false,
                            data: response,
                            bDestroy: true,

                           // pagingType: "full_numbers",
                            columns: [
                              
                                { 'data': 'Name' },

                                { 'data': 'IsActive',
                                    render: function (data, type, row) {

                                        if (data == true) {

                                            return '<button class="btn" style="background-color:green;height:20px;padding-top:0.4px;color:white;font-size:13px;">Active</button>';

                                        } else if (data ==false) {

                                            return '<button class="btn" style="background-color:red;height:20px;padding-top:0.4px;color:white;font-size:13px;">InActive</button>';

                                        }
                                    }
                                },
                      
                                {
                                    data: null,
                                    render: function (data, type, row) {

                                      
                                        return '<img src="data:image/png;base64,' + data.dataFiles + '" " style="height:50px;width:50px;"/>';

                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        //return "<input type='button' id='btnDelete' value='Delete' class='btn btn-danger' data-id='" + data.id + "'>";
                                        return '<a href="#" onclick="Edit(' + data.Id + ')"><i class="fa fa-pencil-square" aria-hidden="true" style="color:green;font-size:20px"></i></a>&nbsp<a href="#" onclick="Delete(' + data.Id + ')"> <i class="fa fa-trash" aria-hidden="true" style="color:green;font-size:20px"></i></a>'
                                        
                                    }
                                }
                                  
                            ]
                        });
                    console.log(response);
                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }
        function Edit(id)
        {
            debugger
            $.ajax({
                url: '/Admin/Category/GetDataForEdit/' + id,
                type:'Get',
                datatype:'json',
                success:function(result)
                {
                  
                  var data=result.IsActive;
                    $('#txtcheckbox').prop("checked", data == true);
                    $("#txtid").val(result.Id);

                    $("#txtName").val(result.Name);
                    $("#txtimg").html(result.dataFiles);

                   
                    $('#txtimg').html('<img src="data:image/png;base64,' + result.dataFiles + '" " style="height:55px;width:55px;"/>')
                   $('#btnUpdate').show();
                   $('#btnAdd').hide();
                },
                error:function(errmsg)
                {
                    alert(errormessage.responseText);
                }
            });
            
        }

        function update()
        {
            debugger
            var isActiveValue = $("#txtcheckbox").prop('checked');
           
                    var Obj ={   
               "Id" : $("#txtid").val(),
               "Name" : $("#txtName").val(),
                "IsActive": isActiveValue
               // "ImageFile": $("#catimage").val()
                    };

         console.log(Obj);
            $.ajax({
                        url: "/Admin/Category/UpadteEmployee/",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(Obj),
                        success: function (result) {
                    BindCategoryData();
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
        }
        function Delete(id)
        {
            debugger
            Swal.fire({
                title: 'Are sure wants to delete??',
                icon: 'error',
                buttons: true,
                showCancelButton: true,
                dangerMode: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Make Ajax call to ActionResult.
                    $.ajax({
                        url: "/Admin/Category/DeleteCategory/" + id,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {
                           BindCategoryData();
                           //reloadTable = $('#tblData').dataTable();
                           // reloadTable.fnDraw();
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                }
                else {
                    Swal.fire({
                        text: 'Data batal dihapus...',
                        icon: 'info'
                    });
                }
                return false;
            });
        }

       //fetch Cehckbox value
       //edit
     </script>
 }