@model RoleViewModel
<div class="container">
<form asp-controller="RoleManagement" asp-action="Create" method="post">
   
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label>Role Name</label>
            <input type="text" name="first_name" id="first_name" class="input-field">
        </div>
        </div>

    <div class="row">
        <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit btn-success" value="Create" />
        </div>
    </div>
</form>
</div>