@model ManageViewModel;


@{
    ViewBag.Title = "Subctegory";

}



<head>
    <style>
        body {
            background-color: #FFEBEE
        }

        .card {
            width: 450px;
            background-color: #fff;
            border: none;
            border-radius: 12px
        }

        .form-control {
            margin-top: 10px;
            height: 48px;
           
            border-radius: 10px
        }

            

        .agree-text {
            font-size: 12px
        }

        .terms {
            font-size: 12px;
            text-decoration: none;
            color: #039BE5
        }

        .confirm-button {
            margin-top: 40px;
            height: 50px;
            border-radius: 10px;
            width: 400px;
        }

        label {
            color: gray;
        }
    </style>

    </head>
<form method="post" asp-action="AddSubcategory" asp-controller="Manage">
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
        <div class="card-body">
           <h4 class="card-title mb-3">Add Subcategory</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label " for="name">
                            Subcategory Name
                        </label>
                        <div class="input-group"><input class="form-control" type="text" asp-for="subcategoryName"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="control-label " for="name">
                       Main Category
                    </label>
                    <select class="form-select form-select-sm mb-3 form-control" aria-label="form-select-sm example"
                                asp-items="@(new SelectList(Model.listOfCategory,"Value", "Text"))" asp-for="categoryId">
                        
                       
                    </select>
                </div>
            </div>
           <button class="btn btn-success btn-block confirm-button">Submit</button>
        </div>
    </div>
</div>
</form>