<head>
<style>
        .custom-centered {
            margin: 0 auto;
            width: 500px;
            background-color:white;
            margin-top:70px;
            margin-bottom:150px;
            padding:30px;
            padding-left:60px;
            padding-right:60px;
        }
       .btn-success {
          background-color: #59ab6e !important;
          border-color: #56ae6c !important;
        }
      
</style>
</head>

@model ForgotPasswordModel


<div class="container custom-centered">
    
    <div class="row">
        <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <div class="mb-3">
            <p>You can reset your password here.</p>
            </div>
        </div>
         <div class="h-100 d-flex justify-content-center align-items-center col-md-12">
            <div class="col-md-12 col-md-8">
              <form asp-action="ForgotPassword" asp-controller="Account">   
                <div class="mb-3">

                    <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                           required="">
                </div>
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn  btn-success">
                        Submit
                    </button>
                </div>
            
             </form>
        </div>
        </div>
    </div>
 </div>



