<head>
<style>
        .custom-centered {
            margin: 0 auto;
            width: 500px;
            background-color:white;
            margin-top:70px;
            margin-bottom:150px;
            padding:30px;
            padding-left:60px;
            padding-right:60px;
        }
       .btn-success {
          background-color: #59ab6e !important;
          border-color: #56ae6c !important;
        }
        h4
        {
            text-align:center;
             padding-bottom:40px;
        }
</style>
</head>

@model ForgotPasswordModel


<div class="container custom-centered">
    <h4>Forget Password</h4>
    <div class="row">
        
        <div class="h-100 d-flex justify-content-center align-items-center col-md-12">
           
        <form asp-action="ForgotPassword" asp-controller="Account">
           
        <div class="form-group">
           
            <input type="text" asp-for="Email" class="form-control" id="email"
                   placeholder="Enter Email..">
        </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
                
            </div>
            
        </form>
        </div>
    </div>
 </div>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="mb-4">
                        <h5>Forgot Password?</h5>
                        <p class="mb-2">
                            Enter your registered email ID to reset the password
                        </p>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                                   required="">
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Reset Password
                            </button>
                        </div>
                        <span>Don't have an account? <a href="sign-in.html">sign in</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

